.WelcomeImage {
  background-color: blueviolet;
  height: 600px;
  width: 100vw; }

.LIModal {
  display: flex; }

.ModalWrap {
  display: flex; }

.InfoLI {
  display: table;
  justify-content: center;
  width: 100%;
  background-color: aliceblue;
  min-height: 100px;
  position: relative; }

.ItemName {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.root {
  position: relative;
  background: no-repeat  center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px; }

.InfoUl {
  width: 100vw; }

.HeaderNav {
  display: flex;
  position: fixed;
  top: 0;
  height: 15vh;
  width: 100vw;
  z-index: 500;
  background-color: #d7f35c; }

.NavMenu {
  width: 15vh;
  background-color: #5cc3f3;
  height: 100%; }

.Navbar {
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%; }

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 10vh;
  min-height: 60px;
  width: 100%;
  background-color: #000202;
  overflow-y: hidden;
  transition: all 2s; }

.push {
  height: 10%;
  min-height: 60px; }

.App {
  position: relative;
  background: no-repeat  center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px; }

.sideNav {
  height: 60vh;
  width: 30vw;
  position: fixed;
  z-index: 1;
  top: 15vh;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px; }

.noSideNav {
  height: 60vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 15vh;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px; }
