.LIModal{
    display: flex;

}
.ModalWrap{
    display: flex;
}
.InfoLI{
    display:table;    
    justify-content: center;
    width: 100%;
    background-color: aliceblue;
    min-height: 100px;
    position: relative;
    
}
.ItemName{  
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}


//needs styling: everything. (plain, clear)