.sideNav {
  height: 60vh;
  width: 30vw;
  position: fixed;
  z-index: 1;
  top: 15vh;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px; }

.noSideNav {
  height: 60vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 15vh;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px; }
