body, html{
    height:100%;
}

.Application {
    
    justify-content: center;
    display: center;
    /* The image used */
    background-image: url(http://via.placeholder.com/1920x1080);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.InfoUL {
    display: center;
    justify-content: center;
}
